<!-- This HTML displays a selected person's details -->

<div class="container">
  <div class="row">
    <section class="content">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-default" routerLink="/personList">Go to Person List</button>
            <hr/>
            <!-- Below we display the route parameter using interpolation -->
            <h2 style="text-align:center; text-decoration:underline;">Person Detail-{{id}}</h2>
            <br>
            <br>
            <!-- Table displays selected individual person's details -->
            <!-- async pipe is used to display observable data asynchronously  -->
            <table class="table">
              <tbody>
                <tr>
                  <th>Full Name:</th>
                  <td>{{(person|async)?.honorific}}{{(person|async)?.firstName | capitalizeFirst}} {{(person|async)?.lastName
                    | capitalizeFirst}}</td>
                </tr>
                <tr>
                  <th>ID:</th>
                  <td>{{(person|async)?.personId}}</td>
                </tr>
                <tr>
                  <th>Age:</th>
                  <td>{{(person|async)?.age}}</td>
                </tr>
                <tr>
                  <th>Date of Registration:</th>
                  <td>{{(person|async)?.dor | date:'d/M/y'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
