<!-- Displayed when an invalid URL is entered -->

<div class="container">
  <div class="row">
    <section class="content">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <!-- Button to navigate to "add a person" page -->
            <button class="btn btn-default" style="float:left" routerLink="/addPerson">Add a Person</button>
            <br>
            <hr/>

            <h3 style="text-align:center; color:red;">Oops! Page not found :(</h3>
            <br>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
