<!-- 
  This HTML displays a list of all the added persons.

  Clicking on a person's name takes us to another page that displays only that person's data
  in a different format. 
-->

<div class="container">
  <div class="row">
    <section class="content">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group has-feedback">
              <!-- Button to navigate to "add a person" page -->
              <button class="btn btn-default" style="float:left" routerLink="/addPerson">Add a Person</button>

              <!-- Search bar where user can search for names -->
              <input type="text" id=search name="search" class="form-control" placeholder="Search by First Name" [(ngModel)]="searchString">
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <hr/>
            <h2 style="text-align:center; text-decoration:underline;">Person List</h2>
            <br>
            <!-- Below div is displayed if there are no Person entries -->
            <!-- async pipe is used to display observable data asynchronously  -->
            <div [ngStyle]="{'text-align': 'center','color': 'red'}" *ngIf="(personList | async)?.length==0; else personsAvailable">
              <h3>No Person Data Available</h3>
            </div>

            <!-- Below template is displayed if Person entries are available -->
            <ng-template #personsAvailable>
              <!-- If there are Person entries, then a table with that data is shown below -->
              <div class="table-resposive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>SR#</th>
                      <th>NAME</th>
                      <th>ID</th>
                      <th>AGE</th>
                      <th>DATE OF REGISTRATION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Loop through input array -->
                    <!-- Search array of entered data using custom search pipe -->
                    <!-- async pipe is used to display observable data asynchronously  -->
                    <tr *ngFor="let person of (personList | async | search:searchString); let i = index">
                      <td>
                        <!-- Displaying serial number string interpolation -->
                        {{i+1}}
                      </td>
                      <td [routerLink]="['/personDetail', person?.id]">
                        <a style="cursor: pointer;">
                          <h5>
                            <!-- Displaying Person Name  and age from array using string interpolation -->
                            <!-- Here we use a custom pipe called capitalizeFirst with first and last name.
                              It capitalizes the first letter of the name passed. -->
                            {{person?.honorific}}{{person?.firstName | capitalizeFirst}} {{person?.lastName | capitalizeFirst}}
                          </h5>
                        </a>
                      </td>
                      <td>
                        <h5>
                          <!-- Displaying Person Name  and age from array using string interpolation -->
                          {{person?.personId}}
                        </h5>
                      </td>
                      <td>
                        <h5>
                          <!-- Displaying Person Name  and age from array using string interpolation -->
                          {{person?.age}}
                        </h5>
                      </td>
                      <td>
                        <h5>
                          <!-- Displaying Person Name  and age from array using string interpolation -->
                          <!-- We have used the date pipe to format this date as required, i.e. '9/3/2010' format -->
                          {{person?.dor | date:'d/M/y'}}
                        </h5>
                      </td>
                      <td>
                        <!-- Button to delete this person -->
                        <button title="Delete person" (click)="deletePerson(person)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
