<!-- This HTML has content to add a person's details -->

<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Session-16, Assignment-2</h1>
        <br>
        <form #f="ngForm" id="personForm" novalidate autocomplete="off" (ngSubmit)="addPerson(f.value)">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2 style="text-align: center;text-decoration: underline;">Add a Person</h2>
              <br>
              <!-- Honorific -->
              <div class="form-group" style="text-align:left">
                <label for="honorific">Honorific</label>
                <!-- Input field for honorific(Mr/Ms) imparting two-way data flow using ngModel -->
                <select class="text-box" id="honorific" name="honorific" [(ngModel)]="personModel.honorific" class="form-control" required
                  #refHonorific='ngModel'>
                  <!-- Mr/Ms options are populated using through a service using HTTPClient GET -->
                  <option [value]="null" [disabled]="true">Select Honorific</option>
                  <option *ngFor="let m of mrms|async" [ngValue]="m.honorific">
                    <!-- Display "Mr." and "Ms." using string interpolation -->
                    {{m.honorific}}
                  </option>
                </select>
                <!-- Below div is displayed if the honorific is not filled -->
                <div *ngIf="refHonorific.errors && (refHonorific.dirty || refHonorific.touched)" class="alert alert-danger">
                  <div *ngIf="refHonorific.errors.required">
                    Title/Honorific is required.
                  </div>
                </div>
              </div>

              <!-- First Name -->
              <div class="form-group" style="text-align:left">
                <label for="firstName">First Name</label>
                <!-- Input field for first name imparting two-way data flow using ngModel -->
                <input type="text" id="firstName" name="firstName" [(ngModel)]="personModel.firstName" class="form-control" placeholder="First Name"
                  required #refFirst='ngModel' maxlength="15" minlength="2" pattern="^[a-zA-Z]*$">
                <div *ngIf="refFirst.errors && (refFirst.dirty || refFirst.touched)" class="alert alert-danger">
                  <!-- Below div is displayed if the first name is not filled -->
                  <div *ngIf="refFirst.errors.required">
                    First Name is required.
                  </div>
                  <!-- Below div is displayed if input characters are other than alphabets -->
                  <div *ngIf="refFirst.errors.pattern">
                    Please enter only alphabets.
                  </div>
                  <!-- Below div is displayed if input exceeds minimum character length -->
                  <div *ngIf="refFirst.errors.minlength">
                    Please enter atleast 2 characeters.
                  </div>
                </div>
              </div>

              <!-- Last Name -->
              <div class="form-group" style="text-align:left">
                <label for="lastName">Last Name</label>
                <!-- Input field for last name imparting two-way data flow using ngModel -->
                <input type="text" id="lastName" name="lastName" [(ngModel)]="personModel.lastName" class="form-control" placeholder="Last Name"
                  required #refLast='ngModel' maxlength="15" minlength="2" pattern="^[a-zA-Z]*$">
                <div *ngIf="refLast.errors && (refLast.dirty || refLast.touched)" class="alert alert-danger">
                  <!-- Below div is displayed if the last name is not filled -->
                  <div *ngIf="refLast.errors.required">
                    Last Name is required.
                  </div>
                  <!-- Below div is displayed if input characters are other than alphabets -->
                  <div *ngIf="refLast.errors.pattern">
                    Please enter only alphabets.
                  </div>
                  <!-- Below div is displayed if input exceeds minimum character length -->
                  <div *ngIf="refLast.errors.minlength">
                    Please enter atleast 2 characeters.
                  </div>
                </div>
              </div>

              <!-- Age -->
              <div class="form-group" style="text-align:left">
                <label for="age">Age</label>
                <!-- Input field for age imparting two-way data flow using ngModel -->
                <input type="number" id="age" name="age" [(ngModel)]="personModel.age" class="form-control" placeholder="Age" required #refAge='ngModel'>
                <!-- Below div is displayed if the age is not filled -->
                <div *ngIf="refAge.errors && (refAge.dirty || refAge.touched)" class="alert alert-danger">
                  <div *ngIf="refAge.errors.required">
                    Age is required.
                  </div>
                </div>
              </div>

              <!-- Date of Registration -->
              <div class="form-group" style="text-align:left">
                <label for="dor">Date of Registration</label>
                <!-- Input field for age imparting two-way data flow using ngModel -->
                <input type="date" id="dor" name="dor" [(ngModel)]="personModel.dor" class="form-control" placeholder="Registration Date"
                  required #refDor='ngModel'>
                <!-- Below div is displayed if Date of Registration is not filled -->
                <div *ngIf="refDor.errors && (refDor.dirty || refDor.touched)" class="alert alert-danger">
                  <div *ngIf="refDor.errors.required">
                    Date of Registration is required.
                  </div>
                </div>
              </div>

              <!-- Person ID -->
              <div class="form-group" style="text-align:left">
                <label for="personId">Person ID</label>
                <!-- Input field for age imparting two-way data flow using ngModel -->
                <input type="text" id="personId" name="personId" [(ngModel)]="personModel.personId" class="form-control" placeholder="Person ID"
                  required #refpid='ngModel' pattern="^[0-9]{3}$">
                <div *ngIf="refpid.errors && (refpid.dirty || refpid.touched)" class="alert alert-danger">
                  <!-- Below div is displayed if the person id is not filled -->
                  <div *ngIf="refpid.errors.required">
                    Person ID is required.
                  </div>
                  <!-- Below div is displayed if input other than number and more than 3 digits are entered -->
                  <div *ngIf="refpid.errors.pattern">
                    Only 3 digits allowed.
                  </div>
                </div>
              </div>

              <!-- Button that calls service functions and ultimately shows data input in table -->
              <!-- Button is animated on mouse enter & leave -->
              <!-- This button is enabled only after all fields are filled and valid -->
              <input type="submit" id="btn-submit" [@personState]="stateExpression" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
                class="btn btn-primary btn-block" value="Add to Table" [disabled]="f.invalid">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Conditional display of table based on length of input array -->
<!-- <div *ngIf="personArr.length > 0"> -->
<!-- Display table that is part of child component -->
<!-- <app-person [personDetail]="personArr"></app-person> -->
<!-- </div> -->
